<form action="<%= method == 'post' ? subs_path : sub_path(@sub) %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>" id="_method">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="Category">Category</label><br>
	<input type="text" name="sub[category]" value="<%= @sub.category %>" id="Category"><br>

	<h3>Create Links</h3>
	<p>Start out your new sub with some links!</p><hr>
	<% @sub.links.each_with_index do |link, i| %>
	<label for="Title_<%=i%>">Link Title: <%=i%></label><br>
	<input type="text" name="sub[links_attributes][<%=i%>][title]" value="<%= link.title %>" id="Title_<%=i%>"><br>
	
	<label for="URL_<%=i%>">Link URL: <%=i%></label><br>
	<input type="text" name="sub[links_attributes][<%=i%>][url]" value="<%= link.url %>" id="URL_<%=i%>"><br>
	
	<label for="text_<%=i%>">Link Text: <%=i%></label><br>
	<textarea name="sub[links_attributes][<%=i%>][text]" rows="4" cols="30"><%= link.text %></textarea><br>
	
	<!-- Including the ID makes sure that submitting this edit does not create duplicate items int the database -->
	<input type="hidden" name="sub[links_attributes][<%=i%>][id]" value="<%= link.id %>">

	<hr>
	<%end%>
		
	<input type="submit" name="submit" value="Submit Information" id="submit">
	
</form>
