<p id="notice"><%= notice %></p>

<h3>Category: <%= @sub.category.capitalize %></h3>

<b>Moderator:</b> <u><%= link_to @sub.moderator.username.capitalize, user_path(@sub.moderator) %></u>

<h3>Links for Sub</h3>
<p>
	<% @sub.links.each do |link| %>
		<b><%= link_to link.title, link_path(link) %></b><br>
		URL: <%=link.url%><br>
		<% @votes = link.votes %>
			<%= link_to "Up", link_upvote_path(link), :method => "post" %>
			(<%= @votes.where("vote_value = 'up'").count %> upvotes)
			|
			<%= link_to "Down", link_downvote_path(link), :method => "post" %> 
			(<%= @votes.where("vote_value = 'down'").count %> downvotes)<br><br>
	<%end%>
</p>
<%= link_to 'Edit', edit_sub_path(@sub) %> |
<%= link_to 'Back', subs_path %> |
<%= link_to 'Add New Link', new_link_path %>